html, body {
  overflow-x: hidden;
}
body{
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppin', sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height:19px;
  font-weight: 100;
}

/*Grid*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

@media (min-width:760px) {
  .container{
    width:750px:
  }
}

@media (min-width:992px) {
  .container{
    width:970px:
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@@media (min-width:1200px) {
  .container{
    width: 1170px;
  }
}


/* Header */
header {
  color: #ffffff;
  /* hero bg: */
  background-image: linear-gradient(42deg, #076970 45%, #71CEC8 100%);
} /*how do I calculate degrees? */

header nav {
  padding: 1em 0;
  background-color: white;
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li { /* < means a child element */
  list-style-type: none; /*removes bullet*/
  display: inline-block;
  margin:0 15px;

 }

 header nav ul > li.btn-signup {
  padding:10px 15px;
  background: #FFA745;
  border-radius: 4px;
 }

header nav ul > li > a {
  color: #002d0a;
  text-decoration: none; /*gets rid of hyperlink underline*/
}

header nav ul > li.btn-signup > a {
  color: #ffffff;
}

header .hero {
  text-align: left;
  display:block;
  position: relative;
 }
 header .hero h1 {
  font-size:48px;
  font-weight: normal;
  margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 27px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

/*buttons*/
.btn {
  border-radius: 4px;
  color:#FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #FFA745;
 }

/*pricing*/
.pricing {
  text-align: center;
  padding:4em 0;
}

.pricing h2, .pricing p {
   color:#333333;
 }

.pricing ul {
   margin:0 auto;
   padding:2em 0;
 }

.pricing ul li {
   list-style-type: none;
 }

.box {
    padding:0 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    min-height: 439px;
    position: relative;
    margin-top: 25px;
  }

.box.middle {
    min-height: 485px;
    margin-top:0px;
  }

.box h3 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background: #067970;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
    left:0;
    right:0;
    top:0;
    text-align: center;
    margin:0 -15px 40px;
    padding:10px 0;
  }
